.imagelist {
  height: 20vh;
  display: flex;
}
.thumb-img {
  width: auto;
  height: 15vh;
}

.main-pic {
  height: 70vh;
  width: auto;
}
#announcer {
  visibility: hidden;
}
:focus {
  border-style: solid;
  border-color: cyan;
}
